{% extends 'base_home.html.twig' %}

{% block body %}
    <h1>{{ category.name }}</h1>
    <div>
        | Catégorie <strong></strong>
    </div>

    <a class="btn btn-primary" href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
